{% extends "components/base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create new post{% endblock title %}


{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
{% endblock extrastyles %}

{% block content %}
<h2 class="mb-4">Create a New Post</h2>
<form method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Submit Post</button>
</form>
{% endblock content %}