{% extends "components/base.html" %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
{% endblock extrastyles %}

{% block content %}
<div class="border-bottom">
  <p class="fs-4 fw-bold">{{ post.title }}</p>
  <div class="d-flex gap-3">
    <p>{{ post.user.username }}</p>

    <button class="like-button" data-post-id="{{ post.id }}">
      {% if request.user in post.likes.all %}
      Unlike
      {% else %}
      Like
      {% endif %}
    </button>
    <p>Số lượt like: <span id="like-count">{{ post.likes.count }}</span></p>

    <p>time: {{ post.pub_date }}</p>
  </div>
</div>
<div class="mt-4">
  <p>{{ post.content|safe }}</p>
</div>
<div>
  <div class="d-flex align-items-center gap-3 mb-1 border-top">
    <p class="m-0">{{ comment_count }} comments</p>
  </div>
  {% for comment in comments %}
  <div class="mb-1">
    <div class="border rounded d-inline-block p-1">
      <p class="m-0 text-decoration-underline">{{ comment.user }}</p>
      <p class="m-0">{{ comment }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  // JavaScript để xử lý nút "Like"
  document.querySelectorAll('.like-button').forEach(button => {
    button.addEventListener('click', () => {
      const postId = button.getAttribute('data-post-id');
      const likeCount = document.querySelector('#like-count');

      // const csrfToken = document.cookie.match(/csrftoken=([^;]+)/)[1];
      const csrfToken = "{{ csrf_token }}";

      fetch(`/like_post/${postId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': csrfToken // Thêm token CSRF vào header
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.message === 'Liked') {
            // Cập nhật số lượt "like"
            const newLikeCount = parseInt(likeCount.textContent) + 1;
            likeCount.textContent = newLikeCount;

            // Thay đổi nút thành "Unlike"
            button.textContent = 'Unlike';
          } else if (data.message === 'Unliked') {
            // Cập nhật số lượt "like"
            const newLikeCount = parseInt(likeCount.textContent) - 1;
            likeCount.textContent = newLikeCount;

            // Thay đổi nút thành "Like"
            button.textContent = 'Like';
          }
        });
    });
  });
</script>
{% endblock content %}