.account-form {
    width: 400px;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.account-form-container {
    height: 80vh;
    padding-top: 50px;
    background-color: #f1f2f3;
}

.post-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.post-content {
    height: 40px;
}