{% extends "authentication/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock extrastyles %}

{% block content %}
<p class="fs-4">Đổi thông tin cá nhân</p>
<a href="{% url "change_password" %}">Đổi mật khẩu</a>

<p class="fs-4">Các bài đăng</p>
<div class="row">
    {% for post in posts %}
    <div class="col-xl-6">
        <div class="border rounded p-2 mt-3">
            <div class="text-truncate mb-1">
                <a class="text-decoration-none" href="{% url 'post' id=post.id %}">{{ post.title }}</a>
            </div>
            <div>
                <p class="text-truncate text-sm text-wrap post-content">
                    {{ post.content|striptags }}
                </p>
            </div>
            <div class="d-flex justify-content-end">
                <a class="text-danger" href="{% url "delete_post" post.id %}">del</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}