{% extends "components/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock extrastyles %}

{% block content %}
<p class="fs-4">Đổi mật khẩu</p>

<form method="post">
    {% csrf_token %}
    <label for="current_password">Mật khẩu hiện tại:</label>
    <input type="password" id="current_password" name="old_password">
    <label for="new_password1">Mật khẩu mới:</label>
    <input type="password" id="new_password1" name="new_password1">
    <label for="new_password2">Nhập lại mật khẩu mới:</label>
    <input type="password" id="new_password2" name="new_password2">
    <button type="submit">Đổi Mật Khẩu</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{% endblock content %}